<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,149},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,149},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>57.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,296},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>58.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,296},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>60.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,443},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>61.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,443},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>63.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,590},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>64.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,590},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>66.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,737},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>67.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,737},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laught.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a16a0a11fed3964a6c65cad179852df:a14644f392c238f06db665f7345b8767:5a84581ba6d846d90ff70d5f46fbd065$</string>
            <key>textureFileName</key>
            <string>laught.png</string>
        </dict>
    </dict>
</plist>
